{%load static%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{%url 'home'%}"><img src="{% static 'website/devops.png' %}" alt="My image" width="75"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{%url 'home'%}"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{%url 'new'%}"><i class="fa fa-wrench"></i> Post</a>
        <a class="nav-item nav-link" href ="https://www.youtube.com/channel/UC4Snw5yrSDMXys31I18U3gg"><i class="fa fa-youtube"></i></a>
        {% if user.is_authenticated %}
        <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'signup' %}">Sign up</a>
            <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a> 
            <span class="nav-item nav-link"> <i class="fa fa-user"></i>  {{user.username}}</span>
        {% else %}
       
        <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </nav>